<ul>
  <li *ngFor="let product of products">
    <div>
      {{ product.name }}
    </div>
    <div>
      {{product.price}}
    </div>
    <div>
      {{product.description}}
    </div>
    <button (click)="onDeleteProduct(product)">Delete</button>
    <button (click)="onUpdateProduct(product)">Update</button>
  </li>
</ul>

<h1>
  create product
</h1>

<!-- <div [formGroup]="productForm">
  <div>
    <input type="text" formControlName="name">
  </div>
  <div>
    <input type="text" formControlName="price">
  </div>
  <div>
    <input type="text" formControlName="description">
  </div>
  <div>
    <button (click)="onSubmitProduct()">Submit Field</button>
  </div>
</div> -->

<form [formGroup]="productform">

  <label>Name</label>
  <input type="text" formControlName="name">
  <br>

  <label>
    Price
    <input type="text" formControlName="price">
  </label>
  <br>
  <label>
    Description
    <input type="text" formControlName="description">
  </label>
  <br>
  <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
  <button (click)="fileInput.click()">Select File</button>
  <button (click)="onSubmitProduct()">Submit product</button>
</form>


<h1>Cloud Storage</h1>
{{uploadProgress || '0%'}}

<div *ngIf="downloadURL | async; let downloadSrc" class="alert alert-info" role="alert">
  File uploaded: <a [href]="downloadSrc">{{downloadSrc}}</a>
</div>

<input style="display: none" type="file" (change)="onFileChangedCloud($event)" #fileInput>
<button (click)="fileInput.click()">Select File</button>


<router-outlet></router-outlet>